.email_field,
.input_email,
.email_container {
  display: flex;
}

.email_container {
  background-color: var(--colour_mintGreen);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

/* email field */

.email_field {
  flex-direction: column;
}

.email_container h1 {
  color: var(--colour_DefaultWhite);
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.email_container p {
  color: var(--colour_DefaultBlack);
  width: 350px;
  text-align: justify;
}

/* input email */
.input_email input,
.input_email button {
  border: none;
  padding: 0.5rem 1rem;
}

.input_email {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  cursor: pointer;
  margin-top: 1rem;
  width: 430px;
}

.input_email input {
  border-radius: 5px 0 0 5px;
  background-color: var(--colour_lightOrange);
  color: var(--colour_DefaultWhite);
  outline: none;
  font-size: 1.1rem;
  width: 100%;
  font-family: var(--font_poppins);
}

.input_email input::placeholder {
  color: var(--colour_DefaultWhite);
}

.input_email button {
  background-color: var(--colour_DefaultBlack);
  color: var(--colour_DefaultWhite);
  font-family: var(--font_poppins);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0 5px 5px 0;
  padding: 0 5rem;
  transition: 0.3s;
}

.input_email input:focus ~ button {
  padding: 0 0.5rem;
}

/* image container */
.image_container {
  width: 28rem;
  height: 20rem;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* banner */
.banner {
  background-color: #2d2d2d;

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 10rem;
  border-bottom: 1px solid var(--colour_DefaultBlack);
}

.banner h2 {
  color: var(--colour_DefaultWhite);
  font-size: 2rem;
}

.banner span {
  display: flex;
  gap: 0.5rem;
}

.banner h3,
.banner svg {
  color: var(--colour_lightOrange);
  font-size: 2rem;
}

@media screen and (max-width: 460px) {
  .input_email {
    width: 300px;
  }

  .input_email input {
    font-size: 0.9rem;
  }

  .input_email button {
    padding: 0 1rem;
    font-size: 0.9rem;
  }
}
