password_generator/node_modules
ShopBuy/node_modules
stopwatch/node_modules
dev_notes/node_modules
windows_calculator/node_modules
super_mario/node_modules
chat_react_ts_basic/frontend/node_modules
chat_react_ts_basic/backend/node_modules
rps_game_with_ia/node_modules