* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem 1rem;
}

#menu {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 0.5rem;
  justify-content: center;
  background: url(../images//bricks.png);
  width: 35vw;
  height: 15%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border: 1px solid #823500;
}

.game_board {
  position: relative;
  background: linear-gradient(#87ceeb, #e0f6ff);
  width: 100%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.game_floor {
  background: url("./../images/bricks.png");
  height: 20%;
  border: 3px solid #823500;
}

.mario_pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipeAnimation 1s linear infinite;
}

.mario_avatar {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.mario_clouds {
  position: absolute;
  width: 550px;
  animation: cloudAnimation 20s infinite linear;
}

.gameover {
  position: absolute;
}

/* animations */
@keyframes pipeAnimation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes cloudAnimation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}
