.promotions_product,
.product_container,
.price_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotions_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  flex-wrap: wrap;
}

.promotions_product h4 {
  font-weight: 500;
}

.product_container {
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  width: 15rem;
  height: 24rem;
  border-radius: 1rem;
  padding: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.product_container:hover {
  transform: scale(1.05);
}

.product_container:active {
  transform: scale(0.99);
}

.price_container {
  margin: 1rem 0;
  font-family: var(--font_rubik);
  font-weight: bold;
  flex-direction: column;
  gap: 0.5rem;
}

.price_container .risk_price {
  text-decoration: line-through;
  font-weight: 500;
}

.promotions_product button {
  background-color: var(--colour_mintGreen);
  color: var(--colour_DefaultWhite);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-family: var(--font_poppins);
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.promotions_product button:hover {
  background-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    var(--colour_mintGreen) 0px 0px 0px 1px;
  color: var(--colour_DefaultBlack);
}

.product_container .image_container {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.product_container .image_container img {
  width: 100%;
  height: 100%;
}
