* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.hidden {
  display: none !important;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.game_board {
  position: relative;
  background: linear-gradient(#87ceeb, #e0f6ff);
  width: 100%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.game_floor {
  background: url("./../../images/bricks.png");
  height: 20%;
  border: 3px solid #823500;
}

.animation.mario_pipe {
  animation: pipeAnimation 1500ms linear infinite;
}

.animation.mario_clouds {
  animation: cloudAnimation 20s infinite linear;
}

.mario_pipe {
  position: absolute;
  right: -10rem;
  bottom: 0;
  width: 80px;
}

.mario_avatar {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.mario_clouds {
  position: absolute;
  right: -50rem;
  width: 550px;
}

.gameover {
  position: absolute;
}

/* animations */
@keyframes pipeAnimation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes cloudAnimation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}
